@{
    ViewBag.Title = "edit";
}
@{ Layout = "~/Views/Shared/_Layout_admin.cshtml";
 }
    <br /><br /><br />
    <ul class="account_desc">
                             <li><a href="~/admin/DeleteClothes">Edit Clothes</a></li>
					     	<li><a href="~/admin/DeleteDesktop">Edit Desktop</a></li>
					     	<li><a href="~/admin/DeleteFootwear">Edit Foot Wear</a></li>
					     	<li><a href="~/admin/DeleteLaptop">Edit Laptop</a></li>
					     	<li><a href="~/admin/DeleteMobile">Edit Mobile</a></li>

    </ul>
    <br /><br /><br />



